<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>

  ระบบตรวจสอบรายวิชาตกค้างของนักศึกษา
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div *ngFor="let list of lists$ | async | slice:5:6; let i=index">
      <img class="avatar mat-elevation-z8" src="{{list.student_img}}" />

      <h4 class="name">{{list.student_name}}</h4>
      <h3 class="designation">{{list.student_course}}</h3>
    </div>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="SubmitdDataOne()" routerLink="">
      <mat-icon>profile</mat-icon>
      <span>โปรไฟล์</span>
    </button>
    <button mat-button class="menu-button" (click)="SubmitdDataTwo()" routerLink="">
      <mat-icon>main</mat-icon>
      <span>หน้าหลัก</span>
    </button>
    <button mat-button class="menu-button" (click)="SubmitdDataThree()" routerLink="">
      <mat-icon>totalcourse</mat-icon>
      <span>รายวิชาทั้งหมด</span>
    </button>
    <button mat-button class="menu-button" (click)="SubmitdDataFour()" routerLink="">
      <mat-icon>passcourse</mat-icon>
      <span>รายวิชาที่ผ่าน</span>
    </button>
    <button mat-button class="menu-button" (click)="SubmitdDataFive()" routerLink="">
      <mat-icon>faultcourse</mat-icon>
      <span>รายวิชาที่ขาด</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Log-out</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <h1>แผนการเรียน รหัส62</h1>
      <div class="p" *ngFor="let list of lists$ | async | slice:0:1; let i=index">
        <p>ชื่อ - สกุล : {{list.student_name}} &nbsp;&nbsp;&nbsp; รหัสนักศึกษา : {{list.student_code}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          ชั้นปี
          : {{list.student_class}}</p>
        <p>สำนักวิชา : {{list.student_school_of}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; หลักสูตร :
          {{list.student_course}} </p>
      </div>
      <hr>
      <!-- <button mat-stroked-button color="primary" class="bu" (click)="SubmitdDataTwo()">
        <mat-icon>keyboard_backspace</mat-icon>&nbsp;กลับ
      </button> -->
      <div class="fon">แผนการเรียน รหัส62</div>
      <p>GPA : 3.30 &nbsp;&nbsp;&nbsp; GPAX : 3.00</p>
      <div class="row">
        <table mdbTable class="tt">
          <thead>
            <tr>
              <th *ngFor="let head of headElementsOne" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let el of elementsOne">
              <td scope="row">{{el.id}}</td>
              <td>{{el.name}}</td>
              <td>{{el.unit}}</td>
              <td>{{el.grade}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="row">
        <button mat-stroked-button color="primary" class="bu" (click)="SubmitdDataFour()">รายวิชาทั้งหมด</button>
        <button mat-stroked-button color="success" class="bu" (click)="SubmitdDataFive()">รายวิชาที่ผ่าน</button>
        <button mat-stroked-button color="warn" class="bu" (click)="SubmitdDataSix()">รายวิชาที่ยังขาด</button>
      </div> -->
      <div class="row">
        <table mdbTable class="tab">
          <thead>
            <tr>
              <th *ngFor="let head of headElementsTwo" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let plan of plan$ | async">
              <td scope="row">{{plan.coursegroup_name}}</td>
              <td>{{plan.amount_of_credits_required}}</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>