<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>

    ระบบตรวจสอบรายวิชาตกค้างของนักศึกษา
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <div *ngFor="let profile of profile$ | async | slice:1:2; let i=index">
            <img class="avatar mat-elevation-z8" src="{{profile.teacher_img}}" />

            <h4 class="name">{{profile.teacher_name}}</h4>
            <h3 class="designation">{{profile.teacher_course}}</h3>
        </div>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)="SubmitdDataOne()" routerLink="">
            <mat-icon>profile</mat-icon>
            <span>โปรไฟล์</span>
        </button>
        <button mat-button class="menu-button" (click)="SubmitdDataTwo()" routerLink="">
            <mat-icon>student</mat-icon>
            <span>รายชื่อนักศึกษา</span>
        </button>
        <button mat-button class="menu-button" (click)="SubmitdDataSeven()" routerLink="">
            <mat-icon>studyplan</mat-icon>
            <span>แผนการเรียน</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Log-out</span>
        </button>


    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <div class="p" *ngFor="let profile of profile$ | async | slice:1:2; let i=index">
                <p>ชื่อ - สกุลอาจารย์ : {{profile.teacher_name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ตำแหน่ง :
                    {{profile.teacher_position}} </p>
            </div>
            <hr>
            <div class="fon">รายชื่อนักศึกษา</div>

            <div class="row">
                <div class="mbsc-col-3">
                    <mat-form-field class="sel" appearance="fill">
                        <mat-select [(value)]="selected">
                            <mat-option value="option">รหัสนักศึกษา</mat-option>
                            <mat-option value="option1">รหัส 62</mat-option>
                            <mat-option value="option2">รหัส 63</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <table mdbTable class="tt">
                    <thead>
                        <tr>
                            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr mdbTableCol *ngFor="let list of lists$ | async">
                            <td scope="row">{{list.student_id}}</td>
                            <td>{{list.student_code}}</td>
                            <td>{{list.student_name}}</td>
                            <td>{{list.student_school_of}}</td>
                            <td>{{list.student_course}}</td>
                            <td><button mat-raised-button color="primary"
                                    (click)="SubmitdDataThree()">ดูแผนการเรียน</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </mat-sidenav-content>
</mat-sidenav-container>